[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
"bs4" = "*"
flask = "*"
tabula = "*"
pymongo = "*"

[dev-packages]
pytest = "*"
gunicorn = "*"

[requires]
python_version = "3.6"
