html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
    background-image: url('../img/stripes-light.png');
    font-family: 'Roboto', sans-serif;
}

.dark-blue-text {
    color: #2C3E50;
}

.light-blue-text {
    color: #3498DB;
}

.white-text {
    color: #ECF0F1;
}

.centered-text {
    text-align: center;
}

.dark-blue-background {
    background-color: #2C3E50;
}

.white-background {
    background-color: #ECF0F1;
}

.extra-small-text {
  font-size: 18px;
}

.small-text {
    font-size: 27px;
}

.med-text {
    font-size: 36px;
}

.large-text {
    font-size: 48px;
}