<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Candi API</title>
        <link rel = 'stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:700'>
        <link rel = 'stylesheet' type = 'text/css' href = 'static/css/common.css'>
        <link rel = 'stylesheet' type = 'text/css' href = 'static/css/index.css'>
        <script src = 'https://code.jquery.com/jquery-3.3.1.js' integrity = 'sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=' crossorigin = 'anonymous'></script>
    </head>
    <body>
        <div id = 'header' class = 'centered-text dark-blue-text'>
            <div id = 'header--welcome' class = 'large-text'>
                Welcome to <span class = 'light-blue-text'>Candi</span>
            </div>
            <div id = 'header--tagline' class = 'small-text'>
                An open-source API for accessing data on US political candidates
            </div>
        </div>
        <div id = 'description' class = 'centered-text dark-blue-text extra-small-text'>
            <p>Where do you find information about candidates?</p>
            <p>Everyone has a different answer, but they all have their pitfalls. Whether you're sifting through hundreds of useless links on your Secretary of State's website or trying to figure out whether an external report has been updated at all in the last six months, it's probably as clear to you as it is to us: there should be an easier way.</p>
            <p>We at Candi aim to provide a common language for interacting with official candidate registration records. Our open-source API gives developers a standardized, constantly-updating database of political candidates that does not rely on external organizations, facilitating the rapid deployment of applications that keep our democracy running.</p>
        </div>
        <div id = 'navigation' class = 'centered-text dark-blue-text small-text'>
            <div id = 'navigation--explorer' class = 'navigation--column'>
                <a href = 'explorer' class = 'light-blue-text'>Explore the Candi API</a>
            </div>
            <div id = 'navigation--github' class = 'navigation--column'>
                <a href = '' class = 'light-blue-text'>Contribute on GitHub</a>
            </div>
        </div>
    </body>
</html>