<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Candi API</title>
        <link rel = 'stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:700'>
        <link rel = 'stylesheet' type = 'text/css' href = 'static/css/common.css'>
        <link rel = 'stylesheet' type = 'text/css' href = 'static/css/index.css'>
        <script src = 'https://code.jquery.com/jquery-3.3.1.js' integrity = 'sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=' crossorigin = 'anonymous'></script>
    </head>
    <body>
        <div id = 'header' class = 'centered-text dark-blue-text'>
            <div id = 'header--welcome' class = 'large-text'>
                Welcome to <span class = 'light-blue-text'>Candi</span>
            </div>
            <div id = 'header--tagline' class = 'small-text'>
                An open-source API for accessing data on US political candidates
            </div>
        </div>
        <div id = 'description' class = 'centered-text dark-blue-text extra-small-text'>
            <p>Where do you find information about US election candidates?</p>
            <p>Whatever your answer is, chances are it's less than ideal. Each state has an official register on their Secretary of State's website, but they're all obscured by their variable formatting, hidden behind dozens of useless links. External websites can share those same navigational difficulties, and, even worse, may be only sporadically updated and even run the risk of bias.</p>
            <p>Overall, if the process of getting information about candidates is difficult for a normal voter, then it's near impossible for a developer working with this information at scale.</p>
            <p>Candi aims to provide a common language for interacting with each state's official candidate registration records. Its open-source API gives developers access to a standardized, up-to-date database of political candidates that does not rely on external organizations, facilitating the rapid deployment of applications that keep America's democracy running.</p>
        </div>
        <div id = 'navigation' class = 'centered-text dark-blue-text small-text'>
            <div id = 'navigation--explorer' class = 'navigation--column'>
                <a href = 'explorer' class = 'light-blue-text'>Explore the Candi API</a>
            </div>
            <div id = 'navigation--github' class = 'navigation--column'>
                <a href = 'https://github.com/sgh304/Candi' class = 'light-blue-text'>Contribute on GitHub</a>
            </div>
        </div>
    </body>
</html>